/* Color del texto y propiedades de la fuente */
body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Propiedades para enlaces */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Estilos para el contenido principal */
main {
    padding: 20px;
    margin: auto;
    max-width: 1200px;
}

/* Estilos para encabezados */
h1, h2, h3, h4, h5, h6 {
    color: #333;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Estilos para bordes */
.conBorde {
    background-color: #f9f9f9;
    border: 1px solid #ccc; 
    padding: 15px; 
    font-style: italic;
}
/* Estilos de anuncio */
.anuncio {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 15px;
    font-style: italic;
}

/* Formularios */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    background-color: #f4f4f4; /* Fondo del formulario */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Añade una sombra para destacar el formulario */
    width: 75%; /* Ancho del formulario */
    max-width: 600px; /* Máximo ancho */
    margin: 0 auto; /* Centra el formulario en la página */
    font-family: 'Arial', sans-serif; /* Fuente para todo el formulario */
    font-size: 16px; /* Tamaño de fuente */
    box-sizing: border-box;
}

/* Estilos para etiquetas */
label {
    font-weight: bold;
    margin-bottom: 5px;
}

/* Estilos para los inputs de texto, email, y fecha */
input[type="text"],
input[type="email"],
input[type="date"],
textarea,
select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%; /* Ocupa todo el ancho del formulario */
    font-size: 16px; /* Aumenta el tamaño de la fuente */
    box-sizing: border-box;
}

/* Estilos específicos para los textarea */
textarea {
    resize: vertical; /* Permite redimensionar verticalmente */
}

/* Estilos para las opciones de selección (select) */
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Estilos para los botones radio */
input[type="radio"] {
    margin-right: 10px;
}

/* Estilos para las casillas de verificación */
input[type="checkbox"] {
    margin-right: 10px;
}

/* Estilos para el botón de envío */
input[type="submit"] {
    padding: 12px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* estilos de las migas de pan */
nav[aria-label="breadcrumbs"] p {
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
}

nav[aria-label="breadcrumbs"] a {
    color: #007bff;
    text-decoration: none;
}

nav[aria-label="breadcrumbs"] a:hover {
    text-decoration: underline;
}
/* Estilos para el header y footer */
header, footer {
    background-color: #004080; 
    color: white; 
    padding: 20px;
    text-align: center;
}

/* Estilos adicionales para elementos dentro del header y footer */
header h1, header a, footer a, header h2 {
    color: #ffcc00; 
    text-decoration: none;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

/* Enlaces de salto */
.skip-link {
    color: white;
    background-color: #003366;
    padding: 10px 15px; /* Añadir algo de relleno */
    border: 1px solid #ccc; /* Añadir un borde para destacarlo */
    border-radius: 5px; /* Esquinas redondeadas */
    text-decoration: none;
    display: inline-block;
    margin-top: 10px; /* Espacio entre el párrafo y el enlace */
}

.skip-link:hover {
    background-color: #003366;
    color: white;
}

/* Estilo del indice alfabético de la página principal */

.indice-alfabetico {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 20px;
}

.indice-alfabetico li {
    margin: 0 10px;
}

.indice-alfabetico a {
    color: #007bff; 
    text-decoration: none;
}

.indice-alfabetico a:hover {
    color: #007bff;
    text-decoration: underline; /* Manteniendo el estilo hover */
}

/* Responsive Design */
@media screen and (max-width: 480px) {
    body {
        font-size: 14px;
    }

    main {
        padding: 10px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
}

@media screen and (min-width: 1201px) {
    .container {
        max-width: 1140px;
    }
}
/* Estilos básicos para la tabla */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-family: Arial, sans-serif;
}

/* Bordes y relleno para las celdas */
th, td {
  padding: 12px;
  border: 1px solid #ccc;
  text-align: left;
  background-color:#42cef5;
}

/* Fondo de la cabecera */
thead {
  background-color: #4CAF50;
  color: white;
}

/* Estilo cebra para las filas */
tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

/* Hover sobre las filas */
tbody tr:hover {
  background-color: #42cef5;
}
